<div class="row">
  <div class="panel panel-info">
    <div class="panel-heading">
      Edit City
    </div>
    <div class="panel-body">
      <div class="row">

        <%= render 'form', indonesia_city: @indonesia_city %>

      </div>
    </div>
  </div>
</div>