<li class="<%= 'active' if controller?('credit_limits') %>">
  <a href="#cl" title="Order" data-toggle="collapse"> <em class="fa fa-laptop"></em> <span><b>Credit Limits</b></span> </a>
  <ul id="cl" class="nav sidebar-subnav collapse">
    <li class="sidebar-subnav-header">
      Credit Limits
    </li>
    <li class="<%= 'active' if controller?('credit_limits') %>">
      <a href="#retail_cl" title="Credit Limits" data-toggle="collapse"> <em class="icon-people"></em> <span>Retail</span> </a>
      <ul id="retail_cl" class="nav sidebar-subnav collapse">
        <li class="sidebar-subnav-header">
          Retail
        </li>
        <%= render "layouts/partials/sidebar_credit" %>
      </ul>
    </li>
  </ul>
</li>