<li class="<%= 'active' if controller?('penjualan/nasional/nasional_channels') && action?('all_channel') %>">
  <a href="/penjualan/nasional/nasional_channels/all_channel" title="Channels"> 
    <em class="icon-people"></em><span><b>National Channels</b></span> </a>
</li>