<h3 style="text-align: center">WELCOME TO SALES ANALYTICS SITES </h3>
<marquee behavior="scroll" direction="left">
  <h4>SELURUH LAPORAN PENJUALAN YANG ADA DI PROGAM INI, BELUM TERMASUK CREDIT NOTE/CREDIT MEMO.</h4>
</marquee>
<div class="row">
  <div class="col-lg-12"></div>
</div>