<div class="row">
  <div class="panel panel-info">
    <div class="panel-heading">
      New Salesman
    </div>
    <div class="panel-body">
      <div class="row">

        <%= render 'form', salesman: @salesman %>

      </div>
    </div>
  </div>
</div>