<h1>Editing Marketshare Brand Value</h1>

<%= render 'form', marketshare_brand_value: @marketshare_brand_value %>

<%= link_to 'Show', @marketshare_brand_value %> |
<%= link_to 'Back', marketshare_brand_values_path %>
