<p id="notice"><%= notice %></p>

<p>
  <strong>Customer:</strong>
  <%= @marketshare.customer_id %>
</p>

<%= link_to 'Edit', edit_marketshare_path(@marketshare) %> |
<%= link_to 'Back', marketshares_path %>
