<li class="<%= 'active' if controller?('stock/img') %>">
  <li class="<%= 'active' if controller?('stock/img/stock_pos') && action?('stock') %>">
    <a href="/stock/img/stock_pos/stock" title="Recap"> <span>IMG</span></a>
  </li>
</li>